{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab4/arif.css')}}">
{% endblock %}

{# номер лабораторной работы: #}
{% block lab %}Деление чисел{% endblock %}

{# основной контент: #}
{% block main %}
<div class="arif-container">
    <h1 class="arif-title">Деление чисел</h1>
    
    {% if error %}
        <div class="arif-error">{{ error }}</div>
    {% else %}
        <div class="arif-result">
            {{ x1 }} / {{ x2 }} = {{ result }}
        </div>
    {% endif %}
    
    <a href="{{ url_for('lab4.div_form') }}" class="arif-link">Вернуться к форме деления</a>
</div>
{% endblock %}