{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab4/login.css')}}">
{% endblock %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    {% if authorized %}
        <h1>Добро пожаловать, {{ login }}!</h1>
        <div>
            <form action="/lab4/logout" method="post">
                <button>Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" id="login" name="login" value="{{ login_value or '' }}">
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label>Пол:</label>
                <div>
                    <input type="radio" id="male" name="gender" value="male" {% if gender_value == 'male' %}checked{% endif %}>
                    <label for="male" style="display: inline; margin-left: 5px;">Мужской</label>
                </div>
                <div>
                    <input type="radio" id="female" name="gender" value="female" {% if gender_value == 'female' %}checked{% endif %}>
                    <label for="female" style="display: inline; margin-left: 5px;">Женский</label>
                </div>
            </div>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>
    {% endif %}
<p><a href="/lab4/">Назад к лабораторной 4</a></p>
{% endblock %}