{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab3/lab3.css')}}">
{% endblock %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}

    {% if user %}

    <h1>Привет, {{ user }}</h1>
    <h2>Добро пожаловать на наш сайт!</h2>
    <div>Ваш возраст: {{ age }}</div>
    <div>Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский' }}</div>
    <div>
        <a href="/lab3/forml">Заново</a>
    </div>

    {% else %}

    <h1>Пользователи</h1>

    <form>
        <lable>Ваше имя:</lable>
        <div>
            <input type="text" placeholder="Как вас зовут?" name="user" value="{{ user or '' }}">
            <span class="error">{{ errors.user }}</span>
        </div>

        <lable>Ваш возраст:</lable>
        <div>
            <input type="number" name="age" value="{{ age or '' }}">
            <span class="error">{{ errors.age }}</span>
        </div>

        <lable>Ваш пол:</lable>
        <div>
            <select name="sex">
                <option value="male" {{ sex == 'male' and 'selected' }}>Мужчина</option>
                <option value="female" {{ sex == 'female' and 'selected' }}>Женщина</option>
            </select>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    {% endif %}

    <p><a href="/lab3/">Назад к лабораторной 3</a></p>
{% endblock %}