{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5/create.css')}}">
{% endblock %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" required></textarea>
            </label>
        </div>

        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="is_favorite">
                Избранная статья
            </label>
        </div>

        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="is_public">
                Публичная статья
            </label>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    
    <div style="margin-top: 20px;">
        <a href="/lab5/list" class="lab5-btn">Назад к списку статей</a>
    </div>
{% endblock %}