{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5/create.css')}}">
{% endblock %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['title'] }}">
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text">{{ article['article_text'] }}</textarea>
            </label>
        </div>

        <div>
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
    
    <div style="margin-top: 20px;">
        <a href="/lab5/list" class="lab5-btn">Назад к списку статей</a>
    </div>
{% endblock %}