{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5/register.css')}}">
{% endblock %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="lab5-main">
    <div class="lab5-title">Регистрация</div>
    
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    
    <form method="post" class="lab5-form">
        <div class="form-group">
            <label>
                Логин: 
                <input type="text" name="login" required maxlength="30">
            </label>
        </div>
        
        <div class="form-group">
            <label>
                Ваше имя:
                <input type="text" name="real_name" maxlength="100">
            </label>
        </div>
        
        <div class="form-group">
            <label>
                Пароль:
                <input type="password" name="password" required>
            </label>
        </div>
        
        <button type="submit" class="lab5-btn">Зарегистрироваться</button>
    </form>
    
    <div class="lab5-links">
        <a href="/lab5/" class="lab5-btn">Меню лабораторной</a>
    </div>
</div>
{% endblock %}