body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: #5391a0;
    color: #fff;
    text-align:justify;
    border-radius: 8px;
}

main {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: auto;
    padding: 20px;
    background: #5391a0;;
    color: #fff;
    text-align: justify;
    position: relative;
    border-radius: 8px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.books-stat {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.books-stat p {
    margin: 5px 0;
}

.list_of_books table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.list_of_books th {
    background-color: #293b74;
    color: white;
    padding: 12px;
    text-align: left;
}

.list_of_books td {
    padding: 10px;
    border-bottom: 1px solid #151825;
}

.list_of_books tr:hover {
    background-color: #f5f5f5;
}

.stat-summ {
    background-color: #e7f3ff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}