<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}Виктория Малых{% endif %}. Лабораторная работа {{ number }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if number %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        <a href="/" class="nav-home">Главная</a>
        <p>5 + 2 = {{ 5 + 2 }}</p>
        <p>11 × 28 = {{ 11 * 28 }}</p>
        <p>3258 - 759 = {{ 3258 - 759 }}</p>
        <p>8452 / 793 = {{ 8452 / 793 }}</p>
        <p>45<sup>8</sup> = {{ 45**8 }}</p>
        <ul>
            {% for f in fruits %}
            <li>{{ loop.index }} - {{ f.name }}: {{ f.price }} &#x20bd;</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy;
        {% if name %} 
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        {% if group %}  
            {{ group }},
        {% else %}
            Без группы,
        {% endif %}
        {% if course %} 
            {{ course }},
        {% else %} 
            Без курса,
        {% endif %}
        2025
    </footer>
</body>
</html>