{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a> - Пример шаблона с данными
        </li>
        <li>
            <a href="/lab2/filters">filters</a> - Демонстрация фильтров Jinja2
        </li>
        <li>
            <a href="/lab2/flowers">Все цветы</a> - Просмотр всего списка цветов и доп задание
        </li>
        <li>
            <a href="/lab2/flowers/0">Пион (индекс 0)</a> - Детальная информация о цветке
        </li>
        <li>
            <a href="/lab2/add_flower/Кустовая роза">Добавить цветок (Кустовая роза)</a> - Добавление нового цветка
        </li>
        <li>
            <a href="/lab2/add_flower/">Тест ошибки 400</a>
        </li>
        <li>
            <a href="/lab2/flowers/rewrite">Очистить список цветов</a>
        </li>
        <li>
            <a href="/lab2/calc/7/5">Калькулятор 7 и 5</a> - Математические операции с числами
        </li>
        <li>
            <a href="/lab2/calc/10">Калькулятор 10</a> - Второе число по умолчанию = 1
        </li>
        <li>
            <a href="/lab2/calc/">Калькулятор без значений</a> - Оба числа по умолчанию = 1
        </li>
        <li>
            <a href="/lab2/books">Список книг</a> - Каталог книг с авторами и жанрами
        </li>
        <li>
            <a href="/lab2/dogs">Породы собак</a> - Галерея пород собачек с фотографиями
        </li>
    </ol>
{% endblock %}