{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li>
            <a href="/lab2/filters">filters</a>
        </li>
        <li>
            <a href="/lab2/flowers">Все цветы</a>
        </li>
        <li>
            <a href="/lab2/flowers/0">Пион (индекс 0)</a>
        </li>
        <li>
            <a href="/lab2/add_flower/Орхидея">Добавить цветок (Орхидея)</a>
        </li>
        <li>
            <a href="/lab2/add_flower/">Тест ошибки 400</a>
        </li>
        <li>
            <a href="/lab2/flowers/rewrite">Очистить список цветов</a>
        </li>
        <li>
            <a href="/lab2/calc/7/5">Калькулятор 7 и 5</a>
        </li>
        <li>
            <a href="/lab2/calc/10">Калькулятор 10</a>
        </li>
        <li>
            <a href="/lab2/calc/">Калькулятор без значений</a>
        </li>
        <li>
            <a href="/lab2/books">Список книг</a>
        </li>
    </ol>
{% endblock %}