{% extends "base.html" %}

{% block lab %}Вход - Магазин мебели{% endblock %}

{% block main %}
    <h1>Вход в систему</h1>
    
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    
    <form method="post">
        <div>
            <label>Логин: <input type="text" name="login"></label>
        </div>
        <div>
            <label>Пароль: <input type="password" name="password"></label>
        </div>
        <button type="submit">Войти</button>
    </form>
    
    <a href="/rgz/register">Нет аккаунта? Зарегистрируйтесь</a>
{% endblock %}