{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
{% endblock %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <div class="lab8-main">
        <div class="lab8-header">Публичные статьи</div>
        
        {% if articles %}
            <div class="lab8-articles">
                {% for article in articles %}
                <div class="lab8-article">
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.article_text }}</p>
                    
                    <div class="lab8-article-meta">
                        {% if article.is_favorite %}
                            <span class="lab8-meta-badge lab8-meta-favorite">Избранная</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="lab8-message">
                Публичных статей пока нет.
            </div>
        {% endif %}
        
        <div style="text-align: center; margin-top: 20px;">
            <a href="/lab8/" class="lab8-btn">На главную</a>
        </div>
    </div>
{% endblock %}